.impacterResume-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.impacterResume-img {
    height: 6vw;
}

.impacterResume-name {
    
}

.impacterResume-bio {
    
}
