.impacterResume-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
}

.impacterResume-img {
    height:10vw;
}

.impacterResume-name {
    font-size: 4vw;
    font-weight: 600;
}

.impacterResume-bio {
    margin-top: 5px;
    font-size: 1vw;
}
