.App {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.header {
  height: 50px;
  background-color: yellow;
}

.body {
  display: flex;
  flex-direction: row;
}

.impactersList {
  width: 20%;
}

.footer {
  height: 50px;
  background-color: yellow;
}
